/**THE BRAND ADD****/
.collection-add{

}

.collection-add .brand-image{
    position: relative;
}
.collection-add .brand-image .brand-logo{
    width: 200px;
    height: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}
.collection-add .brand-image .brand-file{
    visibility: collapse;
}
.collection-add .brand-image .img-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.collection-add .brand-image .img-loader.show{
    display: flex;
}



/**THE BRAND LIST****/
.brand-list{

}
.brand-list table{

}
.brand-list table tr{

}
.brand-list table tr td{

}
.brand-list table tr td.right{
    text-align: right;
}

.brand-list table tr td .brand-logo{
    width: 30px;
    height: 30px;
}


.brand-list .brand-image{
    position: relative;
}
.brand-list .brand-image .brand-logo{
    width: 200px;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}
.brand-list .brand-image .brand-file{
    visibility: collapse;
}
.brand-list .brand-image .img-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.brand-list .brand-image .img-loader.show{
    display: flex;
}






/*************MODEL ADD *********************/
.model-add{

}
.model-add .model-image{
    position: relative;
}
.model-add .model-image .model-logo{
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}
.model-add .model-image .model-image-top .model-logo{
    width: 100%;
    height: auto;
    max-height: 400px;
    cursor: pointer;
}
.model-add .model-image .model-file{
    display: none;
}
.model-add .model-image .img-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.model-add .model-image .img-loader.show{
    display: flex;
}





/*************MODEL LIST *********************/
.model-list{

}
.model-list .model-icon{
    width:30px;
    height: 30px;
    object-fit: contain;
    margin-right:10px;
}
.model-list .model-hold{

}
.model-list .model-hold .img-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.model-list .model-hold .img-loader.show{
    display: flex;
}
.model-list .main-images{
    width: 300px;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}
.model-list .side-images{
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}

.model-list .model-file{
    display: none;
}

.model-list .view-item{
    font-weight: bold;
    padding-bottom: 20px;
}
.model-list .view-item > .value{
    font-weight: normal;
}
.model-list .view-item > .list{

}
.model-list .view-item > .list table{
    width: 100%;
}
.model-list .view-item > .list table tr{

}
.model-list .view-item > .list table tr th{
    font-weight: 600;
}
.model-list .view-item > .list table tr td{

}




/*************STAFF ADD *********************/
.staff-add{

}
.staff-add .avatar{
    width: 300px;
    height: 300px;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
    cursor: pointer;
}
.staff-add .avatar-hold{
    position: relative;
    display: flex;justify-content: center;
    align-items: center;
}
.staff-add .avatar-hold .avatar{

}
.staff-add .avatar-hold .img-loader{
    font-size: 50px;
    position: absolute;
    visibility: collapse;
    opacity: 0;
}
.staff-add .avatar-hold .img-loader.show{
    visibility: visible;
    opacity: 1;
}
.staff-add .avatar-hold [type='file']{
    display: none;
}

.staff-add .btn .b-loader{
    margin-left: 5px;
}




/*************STAFF LIST *********************/
.staff-list .modal{

}
.staff-list .modal .model-icon{
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}
.staff-list .modal .main-images{
    width: 300px;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}
.staff-list .modal .field{
    margin-bottom: 20px;
}
.staff-list .modal .field .name{
    font-weight: bold;
    font-size: 20px;
}
.staff-list .modal .field .value{
    font-size: 20px;
}


.staff-list .modal .main-file{
    display: none;
}
.staff-list .modal .main-img{
    position: relative;

}
.staff-list .modal .main-img .img-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: collapse;
    opacity: 0;
    transition-duration: 700ms;
}
.staff-list .modal .main-img .img-loader.show{
    opacity: 1;
    visibility: visible;
}
.staff-list .modal .main-img .img-loader > i{
    font-size: 50px;
}

.staff-list .modal .btn .b-loader{
    margin-left: 5px;
}

/********* SWEETALERT CSS*******************************/
body .swal2-container{
    padding: 20px!important;
}

body .swal2-popup{
    width: auto!important;
    min-width: 300px!important;
}

body .swal2-icon{
    top: -60%;
    margin: 0!important;
    background-color: #fff!important;
    border: 4px solid #fff!important;
    color: #fff!important;
    overflow: hidden;
}

body .swal2-popup .swal2-title{
    position: absolute!important;
    top: 60px!important;
    font-weight: normal;
}

body .swal2-popup .swal2-header{
    height: 100px!important;
}

body .swal2-icon.swal2-info {
    background-color: #0d95e8!important;
}
body .swal2-icon.swal2-error {
    background-color: #c1272d!important;
}
body .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: #ffffff!important;
}
body .swal2-icon.swal2-success{
    background-color: #22b573;
}
body .swal2-icon.swal2-success [class^=swal2-success-line]{
    background-color: #ffffff;
}
body .swal2-icon.swal2-success .swal2-success-circular-line-right,
body .swal2-icon.swal2-success .swal2-success-fix,
body .swal2-icon.swal2-success .swal2-success-circular-line-left{
    background-color: #22b573!important;
}
body .swal2-icon.swal2-success .swal2-success-ring{
    background-color: #22b573!important;
    z-index: 1;
}

body .swal2-popup #swal2-content{
    font-size: 16px;
}

body .swal2-popup .swal2-actions{
    width: 100%;
}
body .swal2-popup .swal2-actions button{
    margin: 5px 0;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: none!important;
    font-family: "FiraSans Light", serif;
}
body .swal2-popup .swal2-actions .button:focus{
    outline: none;
}





